.form-container {
	display: flex;
	justify-content: center; /* Alinha os botões horizontalmente ao centro */
	align-items: center; /* Alinha verticalmente (se necessário) */
	gap: 5px; /* Espaço entre os botões */
}

.form-buttons {
	border: none;
	outline: none;
	background: none;
	cursor: pointer;
	display: flex; /* Para alinhar o texto e a imagem dentro do botão */
	flex-direction: column; /* Imagem em cima, texto embaixo */
	align-items: center; /* Centraliza conteúdo do botão */
	padding: 3px; /* Ajuste do espaçamento interno */
	align-items: center;
	border: none;
	cursor: pointer;
}

.form-buttons img {
	width: 50px; /* Ajuste do tamanho da imagem */
	height: 50px; /* Ajuste do tamanho da imagem */
}

.add-content {
	text-align: center;
}

.title {
	margin-top: 2%;
	color: chocolate;
}

form {
	max-width: 400px;
	margin: 0 auto;
	padding: 1rem;
	border: 1px solid #ccc;
	border-radius: 5px;
}

form div {
	margin-bottom: 1rem;
}

label {
	display: block;
	margin-bottom: 0.5rem;
	font-weight: bold;
}

input,
select,
button {
	width: 100%;
	padding: 0.5rem;
	font-size: 1rem;
}
