.form-content {
	margin-top: 10%;
}

.form-container {
	display: flex;
	justify-content: center; /* Alinha os botões horizontalmente ao centro */
	align-items: center; /* Alinha verticalmente (se necessário) */
	gap: 5px; /* Espaço entre os botões */
}

.form-buttons {
	border-radius: 5px;
	border: none;
	background: none;
	cursor: pointer;
	display: flex; /* Para alinhar o texto e a imagem dentro do botão */
	flex-direction: column; /* Imagem em cima, texto embaixo */
	align-items: center; /* Centraliza conteúdo do botão */
	padding: 3px; /* Ajuste do espaçamento interno */
	align-items: center;
	border: none;
	cursor: pointer;
	margin-left: 5%;
	margin-right: 5%;
	max-width: 20%;
	box-shadow: 2px 2px 2px rgba(0.5, 0.5, 0.5, 0.5); 
}

.form-buttons:hover{
	background-color: #b8b8b8;
}

.form-buttons img {
	width: 50px; /* Ajuste do tamanho da imagem */
	height: 50px; /* Ajuste do tamanho da imagem */
}

.add-content {
	text-align: center;
}

.title {
	margin-top: 2%;
	color: chocolate;
}

form {
	max-width: 400px;
	margin: 0 auto;
	padding: 1rem;
	border: 1px solid #ccc;
	border-radius: 5px;
}

form div {
	margin-bottom: 1rem;
}

label {
	display: block;
	margin-bottom: 0.5rem;
	font-weight: bold;
}

input,
select,
.form-buttons {
	width: 100%;
	padding: 0.5rem;
	font-size: 1rem;
}

.goback-button{
	color: white;
	padding: 10px;
	border: none;
	width: 100%;
	cursor: pointer;
	background-color: #63b5e5;
}

.save-button{
	cursor: pointer;
	background-color: chocolate;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 5%;
	width: 400px;
}

.modal-actions{
	margin-left: 50%;
}

.edit-button{
	color: white;
	background-color: #63b5e5;
	border: none;
	padding: 2%;
	border-radius: 5%;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cancelEdit-button{
    cursor: pointer;
    border: none;
    color: white;
    background-color: red;
    border-radius: 5%;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .edit-button:hover{
	transform: scale(1.1);
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
  }

  .cancelEdit-button:hover{
	transform: scale(1.1);
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
  }