.customer-item {
    margin: 16px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .customer-card {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 10px;
    min-width: 50%;
    max-width: 100%;
    border-radius: 8px;
    padding: 16px;
    background-color: chocolate;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin-bottom: 2%;
  }

  .customer-card:hover{
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  }
  
  .customer-photo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 16px;
    border: 2px solid #ccc;
  }
  
  .customer-info {
    flex: 1; /* Permite que os dados ocupem o espaço disponível */
  }
  
  .customer-info strong {
    display: block;
    font-size: 18px;
    color: white;
    margin-bottom: 8px;
  }
  
  .customer-info p {
    margin: 4px 0;
    color: white;
    font-size: 14px;
  }

  .edit-customer {
    margin-right: 2%;
    border: none;
    padding: 1%;
    width: 8%;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .delete-customer {
    margin-right: 2%;
    border: none;
    padding: 1%;
    width: 8%;
    border-radius: 3px;
    cursor: pointer;
    color: white;
    background-color: rgb(255, 89, 67);
  }
  
  .delete-customer:hover {
    background-color: rgb(248, 4, 4);
  }
  